[phases.setup]
nixPkgs = ["python310", "ffmpeg", "git", "gcc", "zlib", "libjpeg", "openjpeg"]

[phases.install]
# Ye line magic karegi: Pip ko update karke fast install karegi
cmds = ["python -m venv .venv && source .venv/bin/activate && pip install --upgrade pip setuptools wheel && pip install -r requirements.txt"]

[phases.start]
cmds = ["python main.py"]

