[phases.setup]
nixPkgs = ["python310", "ffmpeg", "git", "gcc", "zlib", "libjpeg", "openjpeg"]

[phases.install]
cmds = [
    "python -m venv .venv && source .venv/bin/activate && pip install --upgrade pip setuptools wheel",
    "pip install -r requirements.txt",
    "pip install av==10.0.0", 
    "pip install --no-deps pytgcalls==3.0.0.dev18"
]

[phases.start]
cmds = ["python main.py"]

