[phases.setup]
nixPkgs = ["python310", "ffmpeg", "git", "gcc", "zlib", "libjpeg", "openjpeg"]

[phases.install]
dependsOn = ["setup"]
cmds = [
    # 1. Fixed jagah par Venv banao
    "python3 -m venv /app/venv",
    
    # 2. Pip update karo
    "/app/venv/bin/pip install --upgrade pip setuptools wheel",
    
    # 3. Safe libraries install karo
    "/app/venv/bin/pip install -r requirements.txt",
    
    # 4. Heavy libraries install karo (Bina Conflict ke)
    "/app/venv/bin/pip install numpy==1.26.4 opencv-python-headless==4.10.0.84 av==10.0.0 pyaes==1.6.1",
    
    # 5. Pytgcalls ko zabardasti install karo (Dependencies check kiye bina)
    "/app/venv/bin/pip install --no-deps pytgcalls==3.0.0.dev18"
]

[phases.start]
dependsOn = ["install"]
# 6. Bot ko usi folder wale Python se chalao
cmds = ["/app/venv/bin/python main.py"]

