[phases.setup]
# 'pkg-config' add kiya hai taaki av library compile ho sake
nixPkgs = ["python310", "ffmpeg", "git", "gcc", "pkg-config", "zlib", "libjpeg", "openjpeg"]

[phases.install]
dependsOn = ["setup"]
cmds = [
    # 1. Virtual Environment banao
    "python3 -m venv /app/venv",
    
    # 2. Pip update karo (Wheel support ke liye)
    "/app/venv/bin/pip install --upgrade pip setuptools wheel",
    
    # 3. Clean requirements install karo
    "/app/venv/bin/pip install -r requirements.txt",
    
    # 4. 'av' ko install karo (Ab ye fail nahi hoga kyunki pkg-config hai)
    "/app/venv/bin/pip install av==10.0.0",
    
    # 5. Pytgcalls ko zabardasti install karo
    "/app/venv/bin/pip install --no-deps pytgcalls==3.0.0.dev18"
]

[phases.start]
dependsOn = ["install"]
# 6. Sahi python se bot chalao
cmds = ["/app/venv/bin/python main.py"]

