[phases.setup]
nixPkgs = ["python310", "ffmpeg", "git", "gcc"]

[phases.install]
cmds = ["python -m venv .venv && source .venv/bin/activate && pip install -r requirements.txt"]

[phases.start]
cmds = ["python main.py"]

