pyrogram==1.4.16  # Version 1.x use karo for compatibility
tgcrypto
pytgcalls==2.1.0  # 'py-tgcalls' ki jagah 'pytgcalls' stable version
instagrapi
pymongo
python-dotenv
dnspython
pyaes==1.6.1
pysocks==1.7.1
