pyrogram==2.0.106
tgcrypto
pytgcalls==3.0.0.dev6
tgcalls==3.0.0.dev6
instagrapi
pymongo
python-dotenv
dnspython
pyaes==1.6.1
pysocks==1.7.1

# IMPORTANT: Yahan pehle se jo thi woh rakho, aur pyaes ke liye nayi line add karo
opencv-python-headless==4.5.3.56
--only-binary=:all: opencv-python-headless
--only-binary=:all: numpy
--only-binary=:all: pyaes  # <--- YEH NAYI LINE ADD KARO
